<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- SERVICE -->
    <add key="mainThreadSleep_ms" value="5000"/>
    
    <!-- CAMERAS -->
    <add key="numCameras" value="1"/>
    <add key="AxisCamera0_logicalID" value="1"/>
    <add key="AxisCamera0_jpg" value="http://172.15.1.150/jpg/image.jpg"/>
    <add key="AxisCamera0_commonName" value="LobbyDoor"/>

    <!-- CAPTURE PARAMETERS -->
    <add key="captureIntervalInSeconds" value ="30"/>
    
    <!-- LOCAL ARCHIVE -->
    <add key="localArchiveRoot" value="C:\temp\"/>
    
    <!-- ZIP ARCHIVES -->
    <add key="zip_DurationPerArchive_hr" value="1"/>
    
  </appSettings>
</configuration>